<div ng-controller = 'activityController'>
		<h1> Activities </h1>
		<input id='activities' ng-model= 'input' ng-hide='soylent'> 
		<button id='submit' ng-click= 'getData(input)' ng-hide='soylent'>Search </button>


		<ul class = 'results' ng-hide='soylent'>
			<li class='result' ng-model= 'results' ng-repeat='activity in results' ng-show='show'>
				<div class='name'> Name: {{activity.name}} </div>
				<div class='calories'> Calories : {{activity.calories}}</div>
				<div class='fat'> Total Fat(g): {{activity.fat}}</div>
			</li>

		</ul>
		<div class='error' ng-show='error'>
			<h3> Sorry, no results matched your search. </h3>
		</div>

</div>