<div class="container">


	<h1> Activities </h1>

<li data-ng-repeat="business in data">
                    {{business.name}} - {{business.mobile_url}}
</li>
	<li class='result' ng-model= 'data' ng-repeat='businesses in data' ng-show='show'>
		<div class='name'> Name: {{business.name}} </div>
		<div class='phone'> Phone : {{business.phone}}</div>
		<div class='address'> Address: {{business.address}}</div>
	</li>

</ul>
<div class='error' ng-show='error'>
	<h3> Sorry, no data matched your search. </h3>
</div>

</div>


</div>
