html, body {margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 900; 
  color: white;
  text-shadow: 1px 1px 5px rgba(255,0,0,0.2);
  }

.mainBox {
  height: 0;
  width: 40%;
  padding-bottom: 40%;
  background: white;
  font-size: 90px;
  width: 800px;
  margin: auto;
  margin-top: 250px; 
  text-align: center;
}

#info {
  font-size: 25px;
  text-align: center;
}

.temp, .city, .time {
  float: left;
  padding: 10px 20px;
  margin: 10px auto;
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  margin-top: 30px;
  color: darkblue;
  text-align: center;
}

.card .mdl-card__title {
  color: #fff;
  height: 176px;
  //background: url('../assets/clouds.jpg') center / cover;
}

.weather {
  margin-top: 100px;
}

#bg-anim { 
  background-image: url('../assets/clouds.jpg');
  background-position: 0px 0px;
  background-repeat: repeat;

  animation: bganim 40s linear infinite;
}

@keyframes bganim {
  from { background-position: 0 0; }
  to { background-position: 596px 0; }
}

#sun {
  position: absolute;
  background-image: url('../assets/sun.png');
  background-position: 0px 0px;
  width: 198px;
  height: 198px;
  background-repeat: no-repeat;
  top: 92%;
  left: 46%;
  z-index: -1;

  animation: sunanm 40s linear infinite;
}


@keyframes sunanm {
  from {  transform: rotate(75deg) translateY(450%) rotate(-75deg); }
  to   {  transform: rotate(295deg) translateY(450%) rotate(-295deg); }
}