* {
  box-sizing: border-box;
}
html, body {margin: 0; 
  height: 100%; 
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; 
  color: white;
  text-shadow: 1px 1px 5px rgba(255,0,0,0.2);
  background-color: #1382e9;
  }
.box {
  height: 100%;
}
h1 {
  margin: 0;
}
.title {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  padding-top: 70px;
  color: white;
  text-align: center;
}
.mainPhrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 85%;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
}
.mainBubble {
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  width: 57%;
  height: 400px;
  padding: 0px;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  box-shadow: 0px 5px 25px rgba(255,0,0,0.2);
}

.mainBubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 20px 20px 0;
border-color: rgba(255,255,255,0.3) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -20px;
left: 48%;
}



.infoBox {
  margin-top: 50px;
  position: relative;
  height: 50px;
}
.infoWrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 44%;
  padding-right: 1%;

}

.temp, .city, .time, .icon {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 20px;
  float: left;
  text-shadow: 1px 1px 2px rgba(255,0,0,0.2);
}
.icon
{
  padding-top: 15px;
  padding-left: 3%;
  width: 18%;
}
.temp {
  width: 26%;
}
.city {
  width:34%;
}
.time {
  width:22%;
}

.bubblesBox {
  margin-top: 110px;
  position: relative;
}
.bubblesWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.bubble {
  margin: 0 10px;
  position: relative;
  height:auto;
  min-height:120px;
  height:auto !important;/* for IE as it does not support min-height */
  height:120px;
  padding: 10px;
  background: rgba(255,255,255,0.3);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  box-shadow: 0px 3px 10px rgba(255,0,0,0.2);
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 10px 0;
border-color: rgba(255,255,255,0.3) transparent;
display: block;
width: 0;
z-index: 1;
bottom: -10px;
left: 48%;
}

.bubble {
  width: 22%;
  float: left;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
}
.phrases {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.subTitle {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  font-weight: 100;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(255,0,0,0.2);
}

.clear-day, .partly-cloudy-day { 
  background-image: url('../assets/clouds_1.png');
  background-position: 0px 0px;
  background-repeat: repeat;
  height: 100%;

  animation: bganimCloud 50s linear infinite;
}

@keyframes bganimCloud {
  from { background-position: 0 0; }
  to { background-position: 596px 0; }
}

.rain { 
  background-image: url('../assets/rain.png');
  background-position: 0px 0px;
  background-repeat: repeat;
  height: 100%;

  animation: bganimRain 2s linear infinite;
}

@keyframes bganimRain {
  from { background-position: 0 0; }
  to { background-position: 0 596px; }
}

#clear-dayStar, #partly-cloudy-dayStar {
  position: absolute;
  background-image: url('../assets/sun.png');
  width: 300px;
  height: 300px;
  position: absolute;
  /*top: 83%;
  left: 40%;
  animation: sunanm 43200s infinite linear;*/
  z-index: 2  ;
}


@keyframes sunanm {
  from {
    transform: rotate(-150deg)
               translateX(1000px)
               rotate(150deg);
              
  }
  to {
    transform: rotate(-30deg)
               translateX(1000px) 
               rotate(30deg);        
  }
}
#rainStar {
  position: absolute;
  background-image: url('../assets/rain_sun.png');
  width: 300px;
  height: 300px;
  position: absolute;
  /*top: 83%;
  left: 40%;
  animation: rainSunanm 43200s infinite linear;*/
  z-index: 2;
}


@keyframes rainSunanm {
  from {
    transform: rotate(-150deg)
               translateX(1000px)
               rotate(150deg);
              
  }
  to {
    transform: rotate(-30deg)
               translateX(1000px) 
               rotate(30deg);              
  }
}

.positionMoon {
  position: absolute;
  background-image: url('../assets/Moon_1.png');
  background-position: 0px 0px;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  /*top: 90%;
  left: 40%;*/
  z-index: 2;

  /*animation: moonanm 40s linear infinite;*/
}

/*
@keyframes moonanm {
  from {  transform: rotate(255deg) translateY(360%) rotate(255deg); }
  to   {  transform: rotate(115deg) translateY(360%) rotate(115deg); }
} */