<div class="{{ weatherEvent }}-Star positionSun"></div>
<div class="{{ weatherEvent }}-Star positionMoon"></div>
<div class="{{ weatherEvent }}"> <!-- background animations-->
  <h1 class="title">&mdash; Chatty Weather &mdash;</h1>
  <div class="wrapper">


    <div class="mainBubble">
    	<div class="mainPhrase">{{phrase}}</div>
    </div>


    <div class="infoBox">
      <div class="infoWrapper">
        <div class="icon"> 
            <canvas id="{{weatherEvent}}" width="64" height="64"></canvas>
        </div>
        <div class="temp">{{ temp }}</div>
        <div class="city">{{ city }}</div>
        <div class="time">{{ time }}</div>
      </div>
    </div>


    <div class="bubblesBox">

      <div class="bubblesWrapper">

        <div class="bubble propBubble">
          <div class="phrases">{{prop}}</div>
          <div class="subTitle">Props</div>
        </div>

        <div class="bubble foodBubble phrases"
        ng-click="getFoodTerm()">
          <div class="phrases">{{food}}
            <div class="foodTips"><i>{{ foodTips }}</i></div>
          </div>
          <div class="subTitle">Foods</div>
        </div>


        <div class="bubble activityBubble phrases" ng-click="getActivityTerm()">
          <div class="phrases" > {{activity}}
            <div class="tips"><i>{{ tips }}</i></div>
          </div>
          <div class="subTitle">Activities</div>
        </div>


        <div class="bubble mtaBubble phrases">
          <div class="mtaAlertBox">
            <div ng-repeat="alert in mtaAlert" class="phrases">{{alert}}</div>
          </div>
          <div class="subTitle">MTA alerts</div>
        </div>

      </div>
    </div>


  </div>
</div>







